<div *ngIf="predict" >
  <h3><b>Parabéns!</b> Aqui está sua Predição</h3>
  <p>
    Possíveis Gêneros para: <b>{{ predict[0].descricao }}</b>
  </p>
  <ol>
    <li>
      <p>{{ predict[0].predicao.top1.genero }}</p>
    </li>
    <li>
      <p>{{ predict[0].predicao.top2.genero }}</p>
    </li>
    <li>
      <p>{{ predict[0].predicao.top3.genero }}</p>
    </li>
    <li>
      <p>{{ predict[0].predicao.top4.genero }}</p>
    </li>
    <li>
      <p>{{ predict[0].predicao.top5.genero }}</p>
    </li>
  </ol>
</div>
