<div *ngIf="predict" >
  <h3>Parabéns! Aqui está sua Predição</h3>
  <p>
    <b>Descrição:</b> {{ predict[0].descricao }}</p>
  <p>
    <b>Probabilidades</b>
  </p>
  <ol>
    <li>
      <p>Genero: {{ predict[0].predicao.top1.genero }}</p>
    </li>
    <li>
      <p>Genero: {{ predict[0].predicao.top2.genero }}</p>
    </li>
    <li>
      <p>Genero: {{ predict[0].predicao.top3.genero }}</p>
    </li>
    <li>
      <p>Genero: {{ predict[0].predicao.top4.genero }}</p>
    </li>
    <li>
      <p>Genero: {{ predict[0].predicao.top5.genero }}</p>
    </li>
  </ol>
</div>
